Repository JuliaGPU/CUDAnative.jl, pull requests merged in 2019-03, with the labels that each got.

#349 Don't eagerly lower intrinsics.
  src/compiler/optim.jl
  test/codegen.jl
Labels: bug, codegen

#356 link against libcudadevrt
  REQUIRE
  deps/build.jl
  docs/make.jl
  docs/src/lib/device/cuda.md
  docs/src/lib/device/libdevice.md
  src/CUDAnative.jl
  src/compiler/driver.jl
  src/compiler/validation.jl
  src/device/cuda.jl
  src/device/cuda/assertion.jl
  src/device/cuda/indexing.jl
  src/device/cuda/libcudadevrt.jl
  src/device/cuda/libdevice.jl
  src/device/cuda/memory_dynamic.jl
  src/device/cuda/memory_shared.jl
  src/device/cuda/misc.jl
  src/device/cuda/output.jl
  src/device/cuda/synchronization.jl
  src/device/cuda/warp_shuffle.jl
  src/device/cuda/warp_vote.jl
  src/device/cuda_intrinsics.jl
  src/device/runtime.jl
  test/device/cuda.jl
  test/runtests.jl
Labels: CUDA support, codegen, enhancement

#362 Dynamic parallelism
  Project.toml
  src/CUDAnative.jl
  src/compiler/common.jl
  src/compiler/driver.jl
  src/compiler/irgen.jl
  src/compiler/mcgen.jl
  src/compiler/optim.jl
  src/compiler/rtlib.jl
  src/compiler/validation.jl
  src/device/cuda/libcudadevrt.jl
  src/device/llvm.jl
  src/execution.jl
  src/reflection.jl
  test/codegen.jl
  test/device/execution.jl
Labels: CUDA support, codegen, enhancement

#365 Add some timer outputs.
  Project.toml
  src/CUDAnative.jl
  src/compiler.jl
  src/compiler/driver.jl
  src/compiler/irgen.jl
  src/compiler/rtlib.jl
  src/reflection.jl
  test/codegen.jl
  test/runtests.jl
Labels: codegen, enhancement
